
<div class="wrapper">
  <center> <a href="/index.html"><div class="site-title">   {{site.title}} </div></a></center>
</div>
<div class="wrapper site-description">
<center>  {{site.description}} </center>
</div>
<div class="wrapper">
  <div class="trigger site-navigation">
   
    {% for sitePage in site.pages %}
      {% if sitePage.front %}
      {% if sitePage.title %}

      <a class="page-link" href="{{sitePage.url | prepend: site.baseurl }}">{{sitePage.title}}</a>
      
      {% if forloop.index < 6 %}
          <span class="exclamationMark">/</span>
      {% endif %}

      {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</div>
