<div class="container">
      

<div class="row">

  <div class="col-12 col-lg-8">

    <div class="media stream-item">
      <div class="media-body">
  
        <h3 class="article-title mb-0 mt-0">
          <a href="/blog/2023/01/05/ppde.html">Plug & Play Directed Evolution of Proteins with Gradient-based Discrete MCMC</a>
        </h3>
  
        
        <div class="article-style">
          <em>Machine Learning: Science & Technology, 2023<br> Also presented at NeurIPS’22 Workshop on Machine Learning in Structural Biology</em> <br> A fast MCMC sampler for discovering variants by mixing and matching unsupervised evolutionary sequence models with supervised models that map sequence to protein function.
        </div>
        
  
        <div class="stream-meta article-metadata"> 
          <div>
            <span ><strong>Patrick Emami</strong></span>, <span >Aidan Perreault</span>, <span >Jeff Law</span>, <span >Dave Biagioni</span>, <span >Peter C. St. John</span>
          </div>
          
        </div>
  
        
        <div>
          <a class="btn btn-outline-primary my-1 mr-1 btn-sm" href="https://doi.org/10.1088/2632-2153/accacd" target="_blank" rel="noopener">
            DOI
          </a>

          <a class="btn btn-outline-primary my-1 mr-1 btn-sm" href="https://arxiv.org/abs/2212.09925" target="_blank" rel="noopener">
            Arxiv
          </a>
  
          <a class="btn btn-outline-primary my-1 mr-1 btn-sm"
                  href="https://github.com/pemami4911/ppde">
            Github
          </a>

          <a class="btn btn-outline-primary my-1 mr-1 btn-sm" href="https://colab.research.google.com/drive/1s3heukQga1ShfxrAMRxNtZFfSwu_D_m7?usp=sharing" target="_blank" rel="noopener">
            Colab demo
          </a>
  
        </div>

        <div>
          
  
  
        </div>
      </div>
      
      <div class="img">        
        <a href="/blog/2023/01/05/ppde.html" >
          <img src="/img/PPDE/Proteins_qual_single.png" alt="PABP_YEAST protein">
        </a>
        
      </div>

      </div>

    <div class="media stream-item">
      <div class="media-body">
  
        <h3 class="article-title mb-0 mt-0">
          <a href="https://arxiv.org/abs/2111.08755">Learning Scene Dynamics from Point Cloud Sequences</a>
        </h3>
  
        
        <div class="article-style">
          <em>IJCV, 2022</em> <br> We introduce the sequential scene flow estimation problem and provide a novel baseline architecture and benchmark for evaluation.
        </div>
        
  
        <div class="stream-meta article-metadata"> 
          <div>
            <span>Pan He</span>, <span ><strong>Patrick Emami</strong></span>, <span >Sanjay Ranka</span>, <span>Anand Rangarajan</span>
          </div>
          
        </div>
  
        
        <div>
          
          <a class="btn btn-outline-primary my-1 mr-1 btn-sm" href="https://doi.org/10.1007/s11263-021-01551-y" target="_blank" rel="noopener">
            DOI
          </a>

          <a class="btn btn-outline-primary my-1 mr-1 btn-sm" href="https://arxiv.org/abs/2111.08755" target="_blank" rel="noopener">
            Arxiv
          </a>
  
          <a class="btn btn-outline-primary my-1 mr-1 btn-sm"
                  href="https://github.com/BestSonny/SPCM">
            Github (coming soon)
          </a>
  
        </div>
      </div>
      
      <div class="img">        
        <a href="https://arxiv.org/abs/2111.08755" >
          <img src="/img/Home/ssfe.png" alt="Learning Scene Dynamics from Point Cloud Sequences">
        </a>
        
      </div>

      </div>

    <div class="media stream-item">
      <div class="media-body">
  
        <h3 class="article-title mb-0 mt-0">
          <a href="https://ieeexplore.ieee.org/abstract/document/9557791/">Long-range Multi-Object Tracking at Traffic Intersections on Low-Power Devices</a>
        </h3>
  
        
        <div class="article-style">
          <em>IEEE Transactions on Intelligent Transportation Systems, 2021</em> <br> A CNN architecture for joint object detection and Re-ID on low-power edge devices and a multi-sensor tracking algorithm for radar.
        </div>
        
  
        <div class="stream-meta article-metadata"> 
          <div>
            <span ><strong>Patrick Emami</strong></span>, <span >Lily Elefteriadou</span>, <span >Sanjay Ranka</span>
          </div>
          
        </div>
  
        
        <div>
          <a class="btn btn-outline-primary my-1 mr-1 btn-sm" href="https://ieeexplore.ieee.org/abstract/document/9557791/" target="_blank" rel="noopener">
            IEEE
          </a>
          
          <a class="btn btn-outline-primary my-1 mr-1 btn-sm" href="pdfs/mobiledr.pdf" target="_blank" rel="noopener">
            PDF
          </a>
  
          <a class="btn btn-outline-primary my-1 mr-1 btn-sm"
                  href="https://github.com/pemami4911/MobileDR">
            Github (coming soon)
          </a>
  
        </div>     
      </div>
  
      <div class="img">        
        <a href="https://arxiv.org/abs/2106.03630" >
          <img src="/img/Home/overview_400x400.png" alt="Efficient Iterative Amortized Inference for Learning Symmetric and Disentangled Multi-Object Representations">
        </a>
        
      </div>
    </div>

  <div class="media stream-item">
    <div class="media-body">

      <h3 class="article-title mb-0 mt-0">
        <a href="https://arxiv.org/abs/2106.03630">Efficient Iterative Amortized Inference for Learning Symmetric and Disentangled Multi-Object Representations</a>
      </h3>

      
      <div class="article-style">
        <em>ICML, 2021</em> <br> An efficient slot-based hierachical VAE for learning unordered, symmetric, and disentangled scene representations.
      </div>
      

      <div class="stream-meta article-metadata"> 
        <div>
          <span ><strong>Patrick Emami</strong></span>, <span >Pan He</span>, <span >Sanjay Ranka</span>, <span >Anand Rangarajan</span>
        </div>
        
      </div>

      
      <div>
        <a class="btn btn-outline-primary my-1 mr-1 btn-sm" href="https://arxiv.org/abs/2106.03630" target="_blank" rel="noopener">
          Arxiv
        </a>
        
        <a class="btn btn-outline-primary my-1 mr-1 btn-sm" href="http://proceedings.mlr.press/v139/emami21a.html" target="_blank" rel="noopener">
          PMLR
        </a>

        <a class="btn btn-outline-primary my-1 mr-1 btn-sm"
                href="https://github.com/pemami4911/EfficientMORL">
          Github
        </a>

        <a class="btn btn-outline-primary my-1 mr-1 btn-sm" href="https://youtu.be/4SDXQxBu_D8" target="_blank" rel="noopener">
          YouTube
        </a>

      </div>     
    </div>

    <div class="img">        
      <a href="https://arxiv.org/abs/2106.03630" >
        <img src="/img/Home/EMORL-GM.png" alt="Efficient Iterative Amortized Inference for Learning Symmetric and Disentangled Multi-Object Representations">
      </a>
      
    </div>
  </div>

  <div class="media stream-item">
    <div class="media-body">

      <h3 class="article-title mb-0 mt-0">
        <a href="https://pemami4911.github.io/blog/2020/12/08/symmetric-and-object-centric-world-models.html">A Symmetric and Object-Centric World Model for Stochastic Environments</a>
      </h3>

      
      <div class="article-style">
        <em>NeurIPS 2020 Workshop on Object Reps. for Learning and Reasoning <strong>(Spotlight)</strong></em> <br>  We propose a state space model and training objective that achieves better stochastic future prediction for object-centric world models.
      </div>
      

      <div class="stream-meta article-metadata"> 
        <div>
          <span ><strong>Patrick Emami</strong></span>, <span >Pan He</span>, <span >Anand Rangarajan</span>, <span >Sanjay Ranka</span>
        </div>
        
      </div>

      
      <div>
        <a class="btn btn-outline-primary my-1 mr-1 btn-sm" href="https://pemami4911.github.io/blog/2020/12/08/symmetric-and-object-centric-world-models.html" target="_blank" rel="noopener">
          Webpage
        </a>
        
        <a class="btn btn-outline-primary my-1 mr-1 btn-sm" href="https://github.com/orlrworkshop/orlrworkshop.github.io/blob/master/pdf/ORLR_3.pdf" target="_blank" rel="noopener">
          PDF
        </a>

        <a class="btn btn-outline-primary my-1 mr-1 btn-sm"
                href="https://github.com/pemami4911/symmetric-and-object-centric-world-models">
          Github
        </a>

        <a class="btn btn-outline-primary my-1 mr-1 btn-sm" href="pdfs/Workshop_poster_HD.pdf" target="_blank" rel="noopener">
          Poster
        </a>

          

      </div>     
    </div>

    <div class="img">        
      <a href="https://pemami4911.github.io/blog/2020/12/08/symmetric-and-object-centric-world-models.html" >
        <img src="/img/Home/orlr_main.png" alt="Symmetric and Object-Centric World Model for Stochastic Environments">
      </a>
      
    </div>
  </div>

  
</div>
</div>
</div>
