<div class="container">      
    <div class="row">
        <div class="col-12 col-lg-8">
            
            <div class="media stream-item">
                <div class="media-body">
            
                <h3 class="article-title mb-0 mt-0">
                    <a href="https://arxiv.org/abs/2405.19653">SysCaps: Language Interfaces for Simulation Surrogates of Complex Systems</a>
                </h3>
            
                
                <div class="article-style">
                    <em>NeurIPS'24 Workshop on Foundation Models for Science</em> <br>Augmenting surrogate models for complex systems with natural language interfaces.
                </div>
                
            
                <div class="stream-meta article-metadata"> 
                    <div>
                    <span ><strong>Patrick Emami</strong></span>, <span >Zhaonan Li</span>, <span >Saumya Sinha</span>, <span> Truc Nguyen</span>
                    </div>
                </div>
            
                
                <div> 
                    <a class="btn btn-outline-primary my-1 mr-1 btn-sm" href="https://arxiv.org/abs/2405.19653" target="_blank" rel="noopener">
                    Arxiv
                    </a>
            
                </div>
        
                <div>
                </div>
                </div>
                
                <div class="img">        
                <a href="https://arxiv.org/abs/2405.19653" >
                    <img src="/img/SysCaps/syscaps.png" alt="Warehouse">
                </a>
                
                </div>
        
            </div>

            <div class="media stream-item">
                <div class="media-body">
                <h3 class="article-title mb-0 mt-0">
                    <a href="https://arxiv.org/abs/2307.08794">Non-Stationary Policy Learning for Multi-Timescale Multi-Agent Reinforcement Learning</a>
                </h3>

                <div class="article-style">
                    <em>IEEE CDC'23</em> <br>Framework for learning non-stationary policies in multi-timescale MARL by leveraging periodicity.
                </div>
                
                <div class="stream-meta article-metadata"> 
                    <div>
                    <span ><strong>Patrick Emami</strong></span>, <span >Xiangyu Zhang</span>, <span>David Biagioni</span>, <span>Ahmed S. Zamzam</span>
                    </div>
                    
                </div>
            
                <div> 
                    <a class="btn btn-outline-primary my-1 mr-1 btn-sm" href="https://arxiv.org/abs/2307.08794" target="_blank" rel="noopener">
                    Arxiv
                    </a>
                
                </div>
                <div>
                </div>
                </div>
                <div class="img">        
                <a href="https://arxiv.org/abs/2307.08794" >
                    <img src="/img/MTMARL.png" alt="MT-MARL">
                </a>
                
                </div>
        
            </div>

            <div class="media stream-item">
                <div class="media-body">
            
                <h3 class="article-title mb-0 mt-0">
                    <a href="https://arxiv.org/abs/2307.00142">BuildingsBench: A Large-Scale Dataset of 900K Buildings and Benchmark for Short-Term Load Forecasting</a>
                </h3>
            
                
                <div class="article-style">
                    <em>NeurIPS D&B 2023</em> <br>Platform for studying large-scale pretraining + zero-shot generalization/finetuning of building load forecasting models.
                </div>
                
            
                <div class="stream-meta article-metadata"> 
                    <div>
                    <span ><strong>Patrick Emami</strong></span>, <span >Abhijeet Sahu</span>, <span >Peter Graf</span>
                    </div>
                    
                </div>
            
                
                <div> 
                    <a class="btn btn-outline-primary my-1 mr-1 btn-sm" href="https://arxiv.org/abs/2307.00142" target="_blank" rel="noopener">
                    Arxiv
                    </a>
            
                    <a class="btn btn-outline-primary my-1 mr-1 btn-sm"
                            href="https://github.com/NREL/BuildingsBench/">
                    Github
                    </a>
        
                    <a class="btn btn-outline-primary my-1 mr-1 btn-sm" href="https://data.openei.org/submissions/5859" target="_blank" rel="noopener">
                    Datasets
                    </a>
            
                </div>
        
                <div>
                </div>
                </div>
                
                <div class="img">        
                <a href="https://github.com/NREL/BuildingsBench/" >
                    <img src="/img/commercial_forecast.gif" alt="BuildingsBench CONUS GIF">
                </a>
                
                </div>
        
            </div>

            <div class="media stream-item">
            <div class="media-body">
        
                <h3 class="article-title mb-0 mt-0">
                <a href="/blog/2023/01/05/ppde.html">Plug & Play Directed Evolution of Proteins with Gradient-based Discrete MCMC</a>
                </h3>
        
                
                <div class="article-style">
                <em>Machine Learning: Science & Technology, 2023<br> Also presented at NeurIPS’22 Workshop on Machine Learning in Structural Biology</em> <br> A fast MCMC sampler for discovering variants by mixing and matching unsupervised evolutionary sequence models with supervised models that map sequence to protein function.
                </div>
                
        
                <div class="stream-meta article-metadata"> 
                <div>
                    <span ><strong>Patrick Emami</strong></span>, <span >Aidan Perreault</span>, <span >Jeff Law</span>, <span >Dave Biagioni</span>, <span >Peter C. St. John</span>
                </div>
                
                </div>
        
                
                <div>
                <a class="btn btn-outline-primary my-1 mr-1 btn-sm" href="https://doi.org/10.1088/2632-2153/accacd" target="_blank" rel="noopener">
                    DOI
                </a>

                <a class="btn btn-outline-primary my-1 mr-1 btn-sm" href="https://arxiv.org/abs/2212.09925" target="_blank" rel="noopener">
                    Arxiv
                </a>
        
                <a class="btn btn-outline-primary my-1 mr-1 btn-sm"
                        href="https://github.com/pemami4911/ppde">
                    Code
                </a>

                <a class="btn btn-outline-primary my-1 mr-1 btn-sm" 
                        href="https://github.com/NREL/EvoProtGrad" target="_blank" rel="noopener">
                    EvoProtGrad (Github)
                </a>
        
                </div>

                <div>
                
        
        
                </div>
            </div>
            
            <div class="img">        
                <a href="/blog/2023/01/05/ppde.html" >
                <img src="/img/PPDE/Proteins_qual_single.png" alt="PABP_YEAST protein">
                </a>
                
            </div>

            </div>
    
        </div>
    </div>
</div>
